* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

h1 {
    margin-bottom: 60px;
}

#area {
    width: 351.4px;
    height: 420px;
    border: 1px solid #000;
    margin: 0 auto;
    font-size: 0;
}

.cell {
    width: 70px;
    height: 70px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.cell:hover {
    background-color: #F1F1F1;
}

.cell.correct {
    background-color: green;
    color: white;
}

.cell.partial {
    background-color: yellow;
    color: black;
}
.cell.none {
    background-color: grey;
    color: black;
}